<form class="profile-search-form" [formGroup]="searchForm">

    <label class="form-label">
        <span class="form-label__text">First Name</span>
        <input type="text" class="form-input" formControlName="firstName">
    </label>

    <label class="form-label">
        <span class="form-label__text">Last Name</span>
        <input type="text" class="form-input" formControlName="lastName">
    </label>

    <label class="form-label">
        <span class="form-label__text">Skills</span>
        <input type="text" class="form-input" formControlName="stack">
    </label>
   

</form>