.profile-search-form {
    padding: 16px 20px;
    background: var(--color-dark);
    border: 1px solid var(--color-light);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 40px;
}