<div class="profile-card">
    <div class="avatar-name">
        <img src="/assets/imgs/avatar.png" alt="avatar" class="profile-card__avatar">
        <div class="profile-card__name">
            <strong class="h6">John Doe</strong>
            <span class="subtitle">john.doe</span>
        </div>
    </div>

    <div class="profile-card__description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente ea, consectetur temporibus perferendis minima autem?
    </div>

    <div class="profile-card__tags">
        <div class="skill-tag">Angular</div>
        <div class="skill-tag">REST</div>
        <div class="skill-tag">SQL</div>
        <div class="skill-tag">HTML</div>
    </div>

    <div class="profile-card__action-btns">
        <button class="btn">Subscribe</button>
    </div>
</div>
