<img src="/assets/svg/logo.svg" alt="" class="ml16 mb20">

<nav class="mb20">
    <ul class="main-menu-list">
        <li *ngFor="let menuItem of menuItems">
            <a class="menu-item" [routerLink]="[menuItem.link]">
                <svg [icon]="menuItem.icon" class="menu-item-svg"></svg>
                <span>{{menuItem.label}}</span>
            </a>
        </li>
    </ul>
</nav>

<p class="medium-text mb20" >Subscribers</p>

@for (profile of subscribers$ | async; track profile.id) {

    <app-subscriber-card
        [profile]="profile" class="menu-item"></app-subscriber-card>
}

<div class="mt20 to-subscribers">
    <a [routerLink]="['/subscribers']" class="to-subscribers-link medium-text">
        All Subscribers
    </a>
    <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>

<footer class="sidebar__footer">
    @if (me(); as me) {
        @if (me.avatarUrl) {
            <img class="sidebar__me_img" [src]="me.avatarUrl | imgUrl " alt="">
        } @else {
            <img class="sidebar__me_img" src="/assets/imgs/avatar.png" alt="">
        }

        <div class="medium-text sidebar__me_text">{{ me.username }}</div>

        <a class="sidebar__me_btn" [routerLink]="['settings']">
            <svg class="sidebar__me_btn-icon" icon="settings"></svg>
        </a>
    }
</footer>
