:host {
    display: block;
    padding: 20px 12px;
    position: relative;
    background: var(--color-dark);
}

.main-menu-list {
    display: grid;
    grid-gap: 8px;
    list-style: none;
}

.menu-item {
   padding: 16px 12px;
   cursor: pointer;
   border: none;
   background: none;
   color: var(--color-light);
   display: grid;
   grid-template-columns: 16px 1fr max-content;
   grid-gap: 24px;
   font-weight: 700;
   font-size: 14px;
   line-height: 24px;
   align-items: center;
   width: 100%;
   text-align: left;
   border-radius: 2px;

   &:hover,
   &:focus-visible {
        background: var(--color-hover);
        color: var(--color-primary);
   }
}

.menu-item-svg {
    height: 24px;
    width: 24px;
}

.to-subscribers {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--color-primary);
    padding-block: 4px;
}



.to-subscribers-icon {
    width: 18px;
    height: 18px;
}

.sidebar__footer {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 20px;
    background: var(--color-hover);
    border-radius: 2px;
    padding: 4px 16px;
    display: grid;
    grid-template-columns: 32px 1fr 24px;
    grid-gap: 12px;
    align-items: center;
    color: var(--color-primary);
}

.sidebar__me_img {
    width: 32px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.sidebar__me_text {
    font-weight: 700;
}

.sidebar__me_btn {
    display: flex;
}

.sidebar__me_btn-icon {
    margin-block: auto;
    width: 18px;
    height: 18px;
}