<app-profile-header></app-profile-header>

<form class="settings-form__wrapper" [formGroup]="form">
    <div class="settings-form mb20">
        <div class="two-columns">
            <label class="form-label">
                <span class="form-label__text">First Name</span>
                <input type="text" class="form-input" formControlName="firstName">
            </label>
    
            <label class="form-label">
                <span class="form-label__text">Last Name</span>
                <input type="text" class="form-input" formControlName="lastName">
            </label>
        </div>
    
        <label class="form-label">
            <span class="form-label__text">Telegram Username</span>
            <input type="text" class="form-input" formControlName="username">
        </label>
    
        <label class="form-label">
            <span class="form-label__text">About</span>
            <textarea class="form-input form-textarea" formControlName="description" rows="4"></textarea>
        </label>

        <label class="form-label">
            <span class="form-label__text">Avatar</span>
            <app-avatar-upload></app-avatar-upload>
        </label>
    
        <label class="form-label">
            <span class="form-label__text">Skills Stack</span>
            <input type="text" class="form-input" formControlName="stack">
        </label>
    </div>
    
    <div>
        <div>
            <button class="btn" (click)="onSave()">Save</button>
        </div>    
    </div>
</form>
