<form action="" class="login-form">
    <h1 class="h1 mb60">Login</h1>

    <label class="control-label mb16">
        Your username
        <input type="text" class="control-input" placeholder="Enter Login">
    </label>

    <label class="control-label mb32">
        Your password
        <input type="text" class="control-input" placeholder="Enter Password">
    </label>

    <button class="btn btn-shadow">Login</button>
</form>

<div class="login-logo">
    <img src="/assets/svg/logo.svg" alt="logo">
</div>