:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
    align-items: center;
    padding: 0 5%;
    background-color: rgba($color: #111, $alpha: .1);    
}

.login-logo {
    padding: 10%;
    img {
        width: 100%;
    }
}

.password-input {
    position: relative;
}

.password-eye-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    background: none;
    border: none;
    color: #ffffffbf;
    cursor: pointer;
}