@import "fonts.scss";

:root {
    --color-dark: #222;
    --color-light: #ddd;
    --color-primary: #ae7aff;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.skill-tag {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--color-light);
    display: inline;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 4px;
}

.btn {
    border: none;
    background: var(--color-primary);
    color: var(--color-dark);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.subtitle {
    font-size: 14px;
    line-height: 21px;
}